データの入出力

In [4]:
import numpy as np
import pandas as pd
#データフレームの表示行数を指定
pd.set_option('display.max_rows', 5)

In [7]:
#csv入力
df = pd.read_csv("iris.csv")

In [8]:
#データフレーム確認
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
...,...,...,...,...,...,...
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [11]:
#データフレーム加工（new列に"test"の文字を追加）
df_rev = df.assign(new = "test")

In [12]:
#csv出力
df_rev.to_csv("iris_rev.csv")

In [15]:
#データフレーム作成
pd.DataFrame(
    {"key_1": ["a", "b", "c"],
     "key_2": np.arange(3, 6, 1),
     "key_3": [True, False, True]
     }
)

  key_1  key_2  key_3
0     a      3   True
1     b      4  False
2     c      5   True