グルーピング

In [14]:
import numpy as np
import pandas as pd

pd.set_option("display.max_rows", 11)

クラス、性別、身長のデータフレーム

In [15]:
df = pd.DataFrame(
    {
        "class": ["a", "b", "c", "c", "a", "c", "b", "a", "c", "b", "a"],
        "gender": ["M", "F", "F", "M", "F", "M", "M", "F", "M", "M","F"],
        "height": [162, 150, 168, 173, 162, 198, 182, 154, 175, 160, 172]
    }
)

In [16]:
df

   class gender  height
0      a      M     162
1      b      F     150
2      c      F     168
3      c      M     173
4      a      F     162
5      c      M     198
6      b      M     182
7      a      F     154
8      c      M     175
9      b      M     160
10     a      F     172

classでグルーピングしてheightの平均を算出

In [17]:
df.groupby("class").mean(numeric_only=True)

       height
class
a       162.5
b       164.0
c       178.5

参考：classでグルーピングしてheightの平均を算出(as_index=False)<br>
indexが連番になる

In [18]:
df.groupby(
    "class",as_index=False)\
        .mean(numeric_only=True)

  class  height
0     a   162.5
1     b   164.0
2     c   178.5

classでグルーピングしてheightの標準偏差を算出

In [19]:
df.groupby("class").std(numeric_only=True)

          height
class
a       7.371115
b      16.370706
c      13.329166

class.genderでグルーピングしてheightの標準偏差を算出

In [20]:
df.groupby(["class", "gender"]).mean(numeric_only=True)

                  height
class gender
a     F       162.666667
      M       162.000000
b     F       150.000000
      M       171.000000
c     F       168.000000
      M       182.000000

グルーピングしたデータフレームを取得

In [22]:
df.groupby("class").get_group("a")

   class gender  height
0      a      M     162
4      a      F     162
7      a      F     154
10     a      F     172

基本統計量の算出

In [23]:
df.groupby("class").describe()

      height
       count   mean        std    min     25%    50%     75%    max
class
a        4.0  162.5   7.371115  154.0  160.00  162.0  164.50  172.0
b        3.0  164.0  16.370706  150.0  155.00  160.0  171.00  182.0
c        4.0  178.5  13.329166  168.0  171.75  174.0  180.75  198.0