列の抽出

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

pd.set_option("display.max_rows", 5)

In [4]:
df = sns.load_dataset("iris")

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

完全指定 引数:items

sepal_length列、species列を抽出

In [7]:
df.filter(items=["sepal_length", "species"])

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
..            ...        ...
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

sepal_length列、species列を抽出(引数itemsは省略可)

In [8]:
df.filter(["sepal_length", "species"])

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
..            ...        ...
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

sepal_length列を抽出

In [9]:
df.filter(["sepal_length"])

     sepal_length
0             5.1
1             4.9
..            ...
148           6.2
149           5.9

[150 rows x 1 columns]

bad: sepal_length列を抽出<br>
データフレームの抽出とシリーズの抽出の判断がつきにくくなるため

In [10]:
df[["sepal_length"]]

     sepal_length
0             5.1
1             4.9
..            ...
148           6.2
149           5.9

[150 rows x 1 columns]

sepal_length列をシリーズ（ベクトル）として抽出

In [11]:
df["sepal_length"]

0      5.1
1      4.9
      ...
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

部分指定 引数: like

sepalが含まれる列名を抽出

In [13]:
df.filter(like = "sepal")

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
..            ...          ...
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

正規表現指定　引数: regex

前方がseでenが含まれる列名を抽出

In [14]:
df.filter(regex="^se.*en.*")

     sepal_length
0             5.1
1             4.9
..            ...
148           6.2
149           5.9

[150 rows x 1 columns]

データ型指定　select_types(データ型)で指定したデータ型に該当する列を抽出

float型の列を抽出する

In [15]:
df.select_dtypes(float)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
..            ...          ...           ...          ...
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]