縦横変換

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_rows", 6)

wide型のデータフレームを定義

In [2]:
df_wide = pd.DataFrame(
    {
        "store": ["A", "B", "C"],
        "orange": [100, 70, 120],
        "apple": [150, 90, 80]
    }
)

In [3]:
df_wide

  store  orange  apple
0     A     100    150
1     B      70     90
2     C     120     80

wide型をlong型に変換

In [5]:
df_long = df_wide.melt(
    id_vars = "store",
    value_vars = ["orange", "apple"],
    var_name = "fruit",
    value_name = "price" 
)

In [6]:
df_long

  store   fruit  price
0     A  orange    100
1     B  orange     70
2     C  orange    120
3     A   apple    150
4     B   apple     90
5     C   apple     80

long型をwide型に変換

In [8]:
df_long.pivot(
    index = "store",
    columns = "fruit",
    values = "price"
).reset_index()

fruit store  apple  orange
0         A    150     100
1         B     90      70
2         C     80     120